<%- include('../partials/head') -%>
<%-include('../partials/logs')-%>
<%- include('../partials/header') -%>



<div class="login-container">
    <div class="login-content">
        <h3>Verify Account</h3>
        <%- include('../messages') -%>
        <form action="/auth/verify-token" method="POST">
            <div class="inputBox">
                <label for="token">Enter Token</label>
                <input type="text" name="token" id="token"  required>
            </div>
            
            <button class="button btn-default" type="submit">Verify</button>
            <p> Already Have an Account?<a href="/auth/login">Login</a></p>
        
        </form>
    </div>
</div>


<%- include('../partials/foot') -%> 