<%- include('../partials/head') -%>
<%- include('../partials/header') -%>
<%-include('../partials/regs')-%>


    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-4 mt-5 offset-lg-4">
        <h3 class="text-center">Reset Password</h3>
          <%- include('../../views/messages') -%>
            <form action="/reset-password" method="post">
                <div class="inputBox"> 
                    <i class="fas fa-unlock-alt"></i>
                    <input type="password" name="oldpassword" class="col-form-control" id="" placeholder="old password" required>
                </div>
                <div class="inputBox">
                    <i class="fas fa-unlock-alt"></i>
                    <input type="password" name="newpassword" class="col-form-control" id="" placeholder="new password" required>
                </div>
                <div class="inputBox">
                    <i class="fas fa-unlock-alt"></i>
                    <input type="password" name="confirmnewpassword" class="col-form-control" id="" placeholder="confirm password" required>
                </div>
                <button class="btn button" type="submit">Reset Password</button>
            </form>
        </div>
      </div>
    </div>


<%- include('../partials/foot') -%>